@charset "UTF-8";

$dialogMinWidth: 420px !default; //弹窗最小宽度
$dialogMinHeight: 170px !default; //弹窗最小高度

$dialogMaxWidth: 920px !default; //弹窗最小宽度
$dialogMaxHeight: 580px !default; //弹窗最小高度

$dialogHdHeight: 44px !default; //弹窗标题高度

$dialogPadding: 16px !default; //默认间距大小

$posList: left center right;

.dui-dialog-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    text-align: center;
    overflow: hidden;
    background: rgba(0,0,0,.6);
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%
    }
}

.dui-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    min-width: $dialogMinWidth;
    min-height: $dialogMinHeight;
    max-width: $dialogMaxWidth;
    max-height: $dialogMaxHeight;
    background: #fff;
    border: rgba(0, 0, 0, .3) solid 1px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.125);
    box-shadow: 0 2px 3px rgba(0,0,0,.125);
    border-radius: 3px;
    font-family: '微软雅黑';
    font-size: 14px;
    .dui-dialog-hd {
        height: 44px;
        border-bottom: #e5e5e5 solid 1px;
        h3{
            font-size: 16px;
        }
        &.z-draggable {
            cursor: move;
            cursor: -webkit-grab;
        }
    }
    .dui-dialog-close {
        position: absolute;
        top: 10px;
        right: $dialogPadding;
        color: #a6a6a6;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            color: #707070;
        }
    }
    .dui-dialog-title {
        margin: 0 0 0 $dialogPadding;
        font-weight: normal;
        line-height: 44px;
        i {
            font-size: inherit;
            margin-right: 10px;
        }
    }
    .dui-dialog-bd {
        padding: 0 $dialogPadding;
        margin: $dialogPadding 0;
        overflow: auto;
    }
    .dui-dialog-ft {
        margin: 0 $dialogPadding;
        @each $pos in $posList {
            &.dui-dialog-ft-#{$pos} {
                .dui-btn-list-g10 {
                    text-align: $pos;
                }
            }
        }
    }

}