@charset "UTF-8";

%tip-basic {
    padding: 8px 15px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #666;
    position: relative;
    i {
        font-size: 14px;
        position: absolute;
        top: 7px;
    }
    p {
        margin: 0 0 0 20px;
        line-height: 16px;
    }
}

$typeList: (success: #31c37c, info: #2db7f5, warning: #ffb745, error: #ff424f);

.dui-tip {
    @extend %tip-basic;
    border: #dbdada solid 1px;
    background: #f5f5f5;
    i {
        color: #333;
    }
}

@each $type, $color in $typeList {
    .dui-tip-#{$type} {
        @extend %tip-basic;
        border: solid #f9d08f 1px;
        background: #fff9eb;
        i {
            color: $color;
        }
    }
}

.dui-tip-hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.dui-update-message {
    width: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
}

.dui-tip-text {
    padding: 15px 15px 10px;
    margin-bottom: 14px;
    border: solid #f9d08f 1px;
    background: #fff9eb;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666;
    width: 556px;
    p {
        margin: 0;
        line-height: 20px;
    }
    .close-box {
        text-align: right;
    }
    button {
        width: 70px;
    }
}


@mixin tip-arrow($colorBg, $colorBorder, $size, $pos, $borderWidth: 1px) {
    position: relative;
    background: $colorBg;
    border: $colorBorder solid $borderWidth;
    &:before, &:after {
        @if $pos == "left" {
            right: 100%;
            top: 50%;
        }
        @if $pos == "right" {
            left: 100%;
            top: 50%;
        }
        @if $pos == "top" or (length($pos) == 2 and nth($pos, 1) == "top") {
            bottom: 100%;
            left: 50%;
        }
        @if (length($pos) == 2 and nth($pos, 1) == "top") and nth($pos, 2) >= 0 {
            left: nth($pos, 2) + ($size + round($borderWidth * 1.41421356));
        }
        @if (length($pos) == 2 and nth($pos, 1) == "top") and nth($pos, 2) < 0 {
            left: unquote("calc( 100% - #{($size + round($borderWidth * 1.41421356))} - #{abs(nth($pos, 2))} )");
        }
        @if $pos == "bottom" or (length($pos) == 2 and nth($pos, 1) == "bottom") {
            top: 100%;
            left: 50%;
        }
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-width: $size;
        @if $pos == "left" {
            border-right-color: $colorBg;
            margin-top: -$size;
        }
        @if $pos == "right" {
            border-left-color: $colorBg;
            margin-top: -$size;
        }
        @if $pos == "top" or (length($pos) == 2 and nth($pos, 1) == "top") {
            border-bottom-color: $colorBg;
            margin-left: -$size;
        }
        @if $pos == "bottom" or (length($pos) == 2 and nth($pos, 1) == "bottom") {
            border-top-color: $colorBg;
            margin-left: -$size;
        }
    }
    &:before {
        border-width: $size + round($borderWidth * 1.41421356);
        @if $pos == "left" {
            border-right-color: $colorBorder;
            margin-top: -($size + round($borderWidth * 1.41421356));
        }
        @if $pos == "right" {
            border-left-color: $colorBorder;
            margin-top: -($size + round($borderWidth * 1.41421356));
        }
        @if $pos == "top" or (length($pos) == 2 and nth($pos, 1) == "top") {
            border-bottom-color: $colorBorder;
            margin-left: -($size + round($borderWidth * 1.41421356));
        }
        @if $pos == "bottom" or (length($pos) == 2 and nth($pos, 1) == "bottom") {
            border-top-color: $colorBorder;
            margin-left: -($size + round($borderWidth * 1.41421356));
        }
    }
}


.dui-tip-arrow,
.dui-tip-error-arrow{
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
}

.dui-tip-arrow {
    padding: 8px 15px;
    border: #d2d2d3 solid 1px;
    &.dui-tip-left-arrow {
        @include tip-arrow(#fff, #d2d2d3, 5px, left);
    }

    &.dui-tip-right-arrow {
        @include tip-arrow(#fff, #d2d2d3, 5px, right);
    }

    &.dui-tip-top-arrow {
        @include tip-arrow(#fff, #d2d2d3, 5px, top);
    }

    &.dui-tip-top-left-arrow {
        @include tip-arrow(#fff, #d2d2d3, 5px, top 15px);
    }

    &.dui-tip-top-right-arrow {
        @include tip-arrow(#fff, #d2d2d3, 5px, top -15px);
    }

    &.dui-tip-bottom-arrow {
        @include tip-arrow(#fff, #d2d2d3, 5px, bottom);
    }
}

.dui-tip-error-arrow {
    height: 18px;
    line-height: 18px;
    background: #ffa5a5;
    color: #fff;
    padding: 0 5px;
    display: inline-block;
    border: #ffa5a5 solid 1px;
    &.dui-tip-error-left {
        @include tip-arrow(#ffa5a5, #ffa5a5, 5px, left);
    }

    &.dui-tip-error-right {
        @include tip-arrow(#ffa5a5, #ffa5a5, 5px, right);
    }

    &.dui-tip-error-top {
        @include tip-arrow(#ffa5a5, #ffa5a5, 5px, top);
    }

    &.dui-tip-error-bottom {
        @include tip-arrow(#ffa5a5, #ffa5a5, 5px, bottom);
    }

    &.dui-tip-error-top-left {
        @include tip-arrow(#ffa5a5, #ffa5a5, 5px, top 5px);
    }

    &.dui-tip-error-top-right {
        @include tip-arrow(#ffa5a5, #ffa5a5, 5px, top -5px);
    }

}

